.font-common {
  font-family: var(--font-be-vietnam-pro), "Be Vietnam Pro", sans-serif;
  line-height: 120%;
  letter-spacing: 0%;
}

/* 10px */
.font-10-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-10);
  line-height: 120%;
}

.font-10-regular {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-10);
  line-height: 120%;
}

/* 12px */
.font-12-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-12);
  line-height: 120%;
}

.font-12-extra-light {
  font-family: inherit;
  font-weight: 200;
  font-size: var(--font-12);
  line-height: 120%;
}

/* 14px */
.font-14-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-14);
  line-height: 120%;
}

.font-14-regular {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-14);
  line-height: 120%;
}

.font-14-semibold {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-14);
  line-height: 120%;
}

.res-font-14-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--res-font-14);
  line-height: 120%;
}

/* 16px */
.font-16-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-16);
  line-height: 120%;
}

.font-16-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-16);
  line-height: 120%;
}

.res-font-16-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--res-font-16);
  line-height: 120%;
}

.res-font-16-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--res-font-16);
  line-height: 120%;
}

/* 18px */
.font-18-regular {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-18);
  line-height: 120%;
}

.font-18-extra-light {
  font-family: inherit;
  font-weight: 200;
  font-size: var(--font-18);
  line-height: 120%;
}

.res-font-18-regular {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--res-font-18);
  line-height: 120%;
}

/* 24px */
.font-24-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-24);
  line-height: 120%;
}

.font-24-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-24);
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0px;
}

/* 32px */
.font-32-light {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-32);
  line-height: 120%;
}

.font-32-regular {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--font-32);
  line-height: 120%;
}

.font-32-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-32);
  line-height: 120%;
}

.font-32-semibold {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-32);
  line-height: 120%;
}

/* 40px */
.res-font-40-extralight {
  font-family: inherit;
  font-weight: 200;
  font-size: var(--res-font-40);
  line-height: 120%;
}

.res-font-40-medium {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--res-font-40);
  line-height: 120%;
}

/* 48px */
.font-48-extralight {
  font-family: inherit;
  font-weight: 200;
  font-size: var(--font-48);
  line-height: 120%;
}

.font-48-semibold {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-48);
  line-height: 120%;
}

.res-font-48-extralight {
  font-family: inherit;
  font-weight: 200;
  font-size: var(--res-font-48);
  line-height: 120%;
}

.res-font-48-semibold {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--res-font-48);
  line-height: 120%;
}

/* Helper Class */
.color-grey-1 {
  color: var(--grey-1);
}
