.tech-accordion-item {
  background-color: #f5f5f5;
  /* min-height: 100px; */
  color: var(--black-1);
  padding: 32px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: blur(50px);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.tech-accordion-item.active {
  background-color: var(--black-1);
  color: var(--grey-4);
}

.tech-accordion {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tech-accordion-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.tech-accordian-dot {
  min-width: 26px;
  height: 26px;
  border-radius: 100px;
  background-color: var(--green-2);
}

@media screen and (max-width: 1024px) {
  .tech-accordion-container {
    flex-direction: column;
  }

  .tech-accordion {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .tech-accordion {
    gap: 10px;
  }

  .tech-accordion-item {
    padding: 14px;
    border-radius: 14px;
  }

  .tech-accordian-dot {
    min-width: 14px;
    height: 14px;
  }
}
